.App {
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;

}

.App-logo {
  height: 200px;
}


h4 {
  margin-bottom: 14px;
}

.double-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

input {
  width: 99%;
  margin: 4px 0;
  padding: 4px 2px;
  border: 1px solid lightgray;
  font-size: 14px;
}

p {
  font-weight: 400;
  margin: 4px 0;
}

.radio-form {
  display: flex;
  flex-direction: column;
}

.radio-form input {
  width: 30px;
  margin: 6px 0;
}

textarea {
  width: 99%;
  height: 20px;
  padding: 4px 2px;
}

button {
  width: 100%;
  background-color: #d58512;
  border:0 #d58512;
  color: white;
  padding: 8px 16px;
  margin-top: 6px;
  font-size: 18px;
  font-weight: 100;
  border-radius: 6px;
}